* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    height: 50vh;
}

header {
    background-color: #2165a9;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}


.intro {
    margin: 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 2vh;
    width: 100%;
    color: #7f8c8d;
}

#playButtonDiv {
    margin: auto;
    text-align: center;
}

input {
    padding: 2vh;
    margin: 2vh;
    background-color: #2165a9;
    color: white;
    width: 18vh;
    height: 10vh;
    font-weight: bolder;
}

#txt_player_1 {
    color: red;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 2vh;
}

#txt_player_2 {
    color: blue;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 2vh;
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}

td {
    width: 16vh;
    height: 16vh;
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
}


.neutral {
    background-color: #CCCCCC;
  }
  
  .player1 {
    background-color: #FF0000; 
  }
  
  .player2 {
    background-color: #0000FF;
  }
  
  img {
    width: 50px;
    height: 50px;
  }

  #winner {
    font-weight: bold;
  }

  #win {
    color: gold;
    text-decoration: gold underline;
    font-weight: bolder;
  }

  #win a {
    color: gold;
  }

  #lose {
    color: red;
    text-decoration: red underline;
    font-weight: bolder;
  }