{% extends 'index.html'%}

{%block end_game%}
    <h1>Partie terminée</h1>
    <script type="text/javascript">
        const status = "{{status}}";
        const player_id = "{{player_id}}";
        let endText = "";

        switch (status) {
            case 'win': 
                endText = 'win"><a href="https://www.larousse.fr/dictionnaires/francais/dieu/25418">GAGNÉ</a>';
                break;
            case 'lose':
                endText = 'lose">PERDU';
                break;
            case 'draw':
                endText = 'draw">fait égalité (ça arrive)';
                break;
        }
        document.write('<p id="winner">Vous avez <span id="' + 
            (is_winner ? 'win"><a href="https://www.larousse.fr/dictionnaires/francais/dieu/25418">GAGNÉ</a>' : 'lose">PERDU') + '</span> !</p>');

    </script>
    <div id="playButtonDiv"><input id="playButton" type="button" value="Rejouer"/></div>
{%endblock%}