{% extends 'base.html'%}

{%block content%}
    <script type="text/javascript">
        let BOARD_SIZE = parseInt({{ size }});

        let body = document.getElementsByTagName("body")[0];

        let table = document.createElement("table");
            
        for (let i = 0; i < BOARD_SIZE; i++) {
            let row = document.createElement("tr");

            for (let j = 0; j < BOARD_SIZE; j++) {
                let col = document.createElement("td");

                row.appendChild(col);
            }
            table.appendChild(row);
        }

        body.appendChild(table);
    </script>
{%endblock%}