{% extends 'base.html'%}

{%block content%}
    <script type="text/javascript">
        let BOARD_SIZE = parseInt('{{config["BOARD_SIZE"]}}');

        let body = document.getElementsByTagName("body")[0];

        let table = document.createElement("table");
            
        for (let i = 0; i < BOARD_SIZE; i++) {
            let row = document.createElement("tr");

            for (let j = 0; j < BOARD_SIZE; j++) {
                let col = document.createElement("td");

                row.appendChild(col);
            }
            table.appendChild(row);
        }

        body.appendChild(table);

        windows.addEventListener(handleKeyPress);
        
        function handleKeyPress(event) {
            switch (event.key) {
                case 'ArrowUp':
                    messageDiv.textContent = "Vous avez appuyé sur la flèche haut!";
                    break;
                case 'ArrowDown':
                    messageDiv.textContent = "Vous avez appuyé sur la flèche bas!";
                    break;
                case 'ArrowLeft':
                    messageDiv.textContent = "Vous avez appuyé sur la flèche gauche!";
                    break;
                case 'ArrowRight':
                    messageDiv.textContent = "Vous avez appuyé sur la flèche droite!";
                    break;

            }
        }
    </script>
{%endblock%}