{% extends 'base.html'%}

{%block content%}
    {% block end_game %}
        <div id="playButtonDiv"><input id="playButton" type="button" value="Jouer"/></div>
    {% endblock %}
    <script type="text/javascript">

        window.onload = function() {
            let button = document.getElementById("playButton");

            let players = {
                player_1: "Bob",
                player_2: "Alice"
            };

            button.addEventListener("click", async function(event) {
            /**
            * Fonction pour créer une partie au clic du bouton "Jouer"
            * Pré-condition : L'utilisateur a cliqué sur le bouton
            * Post-condition : Envoie une requête POST pour créer une partie avec nom du ou des joueurs (si IA ou non), puis redirige vers la page de jeu
            */
                let answer = await fetch('/createGame', {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(players),
                })
                let data = await answer.json();
                window.location.href = `/game/${data.game_id}/${data.player_id}`; 
            });
        }
    </script>
{%endblock%}