{% extends 'base.html'%}

{%block content%}
    <div id="playButtonDiv"><input id="playButton" type="button" value="Jouer"/></div>

    <script type="text/javascript">
        window.onload = function() {
            let button = document.getElementById("playButton");

            let players = {
                player_1: "Bob",
                player_2: "Alice"
            };

            button.addEventListener("click", async function(event) {
    await fetch('/createGame', {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(players),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`Error: ${response.status} - ${response.statusText}`);
        }
        // Si la réponse indique une redirection, redirige
        window.location.href = response.url; // Redirige vers l'URL de la page de jeu
    })
    .catch(error => {
        console.error(error);
    });
});

        }
    </script>
{%endblock%}